<!doctype html>
<html>
<head>
  <title>Madlibs!</title>
</head>
<body>

<h2>Let's play flaglibs!</h2>

<form action="/flaglib">
    I want my flag to be:
    <label><input type="checkbox" name="color" value="red">red</label>
    <label><input type="checkbox" name="color" value="white">white</label>
    <label><input type="checkbox" name="color" value="blue">blue</label><br>

    <!-- <label>Give me a noun:
    <input type="text" name="noun"></label><br>
    <label>Give me an adjective:
    <input type="text" name="adjective"></label><br>
    <label>Give me an <i>-ing</i> verb:
    <input type="text" name="verb"></label><br> -->
    <input type="submit" value="Gimme my flag!"> 
</form>
</body>
</html>
